.CodeMirror-wrap {
  padding: 2rem 2rem 0;
}

.code-mirror>div {
  height: 100%;
  background-color: white !important;
  font-family: var(--font);
  color: var(--color-gray-800) !important;
}

.dark .code-mirror>div {
  background-color: var(--color-gray-700) !important;
  color: var(--color-gray-300) !important;
}

.CodeMirror-cursor {
  border-left: 2px solid var(--color-sky-500) !important;
}

.cm-comment {
  color: var(--color-gray-500) !important;
}

.cm-hr {
  color: var(--color-gray-500);
}

.cm-variable-2 {
  color: var(--color-gray-900) !important;
}

.cm-variable-3 {
  color: var(--color-gray-900) !important;
}

.dark .cm-variable-2,
.dark .cm-variable-3,
.dark .cm-keyword {
  color: var(--color-gray-300) !important;
}

.cm-keyword {
  color: var(--color-gray-900) !important;
}

.cm-url {
  color: var(--color-sky-600) !important;
}

.dark .cm-url {
  color: var(--color-sky-400) !important;
}

.cm-strong,
.cm-em {
  color: var(--color-gray-900) !important;
}

.dark .cm-strong,
.dark .cm-em {
  color: var(--color-gray-200) !important;
}

.cm-md-strong {
  color: var(--color-gray-400) !important;
}

.dark .cm-md-strong {
  color: var(--color-gray-500) !important;
}

.dark .cm-header {
  color: var(--color-gray-100) !important;
}

.dark .cm-md-heading-prefix {
  color: var(--color-gray-500) !important;
}

.cm-header {
  color: var(--color-gray-900) !important;
}

.cm-md-heading-prefix {
  color: var(--color-gray-300) !important;
}

.cm-header-1,
h1 {
  font-size: 2.25rem;
}

.cm-header-2,
h2 {
  font-size: 2rem;
}

.cm-header-3,
h3 {
  font-size: 1.5rem;
}

.cm-header-4,
h4 {
  font-size: 1.25rem;
}

.cm-header-5,
h5 {
  font-size: 1.125rem;
}

.cm-heading-6,
h6 {
  font-size: 1rem;
}


@media screen and (max-width:640px) {
  .CodeMirror-wrap {
    padding: 1rem 1rem 0;
  }

}