.code-mirror {
  margin-top: 4rem;
  position: relative;
}

.code-mirror>div {
  height: 100%;
  background-color: transparent !important;
  font-family: var(--font);
  color: var(--color-white-two) !important;
}

.CodeMirror-selected {
  background-color: var(--color-gray-400) !important;
}

.CodeMirror-cursor {
  border-left: 2px solid var(--color-primary-500) !important;
}

.cm-hr {
  color: var(--color-primary-500);
}

.cm-md-strong {
  color: var(--color-gray-200) !important;
}

.cm-url {
  color: var(--color-primary-500) !important;
}

.cm-header {
  color: var(--color-white) !important;
}

.cm-header-1,
h1 {
  font-size: 4rem;
}

.cm-header-2,
h2 {
  font-size: 3rem;
}

.cm-header-3,
h3 {
  font-size: 2rem;
}

.cm-header-4,
h4 {
  font-size: 1.75rem;
}

.cm-header-5,
h5 {
  font-size: 1.5rem;
}

.cm-heading-6,
h6 {
  font-size: 1.25rem;
}

.cm-strong,
.cm-em {
  color: var(--color-white);
}

.cm-md-heading-prefix {
  color: var(--color-gray-300) !important;
}