.edit-controls {
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.edit-controls > div {
  display: flex;
  align-items: center;
}

.headings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--header-height);
  height: var(--header-height);
  color: var(--color-text);
  position: relative;
  font-weight: 600;
  cursor: pointer;
}

.headings:hover {
  color: var(--color-primary);
}

.headings:hover .heading-options {
  display: grid;
  gap: 0.5rem;
}

.heading-options {
  padding: 0.5rem 0;
  display: none;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid var(--color-gray-02);
  top: 3rem;
  position: absolute;
  background-color: var(--color-gray-01);
}
