.file-save {
    position: relative;
}

.file-save-dialog {
    border-radius: 2px;
    left: 3.25rem;
    top: -0.25rem;
    position: absolute;
    gap: 0.5rem;
    background-color: var(--color-gray-700);
    padding: 0.25rem 1rem 1rem;
    box-shadow: 0 4px 8px var(--color-gray-900);
}

.file-save-dialog::after {
    top: 17px;
    left: -8px;
    position: absolute;
    content: "";
    width: 8px;
    height: 16px;
    background-color: var(--color-gray-700);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.file-save-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.875rem;
}

.file-save-dialog-button {
    float: right;
}

.file-save-dialog-input-wrapper {
    margin: 0.5rem 0 1rem;
}

.file-save-dialog-input-field {
    color: var(--color-white);
    padding: 0.625rem 1rem;
    border-radius: 1px;
    outline: none;
    border: 0;
    background-color: var(--color-gray-800);
    font-family: var(--font);
    caret-color: var(--color-primary-500);
    font-size: 0.875rem;
}

.file-save-dialog-input-error {
    margin-top: 0.5rem;
    display: block;
    white-space: nowrap;
    font-size: 0.75rem;
    color: var(--color-primary-800);
}