.files {
    width: 20rem;
    height: 100vh;
    top: 0;
    background-color: var(--color-gray-900);
    transition: left 0.5s;
    transition: margin-left 0.35s;
    overflow-y: auto;
}

.files-open {
    margin-left: 0;
}

.files-header {
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    padding: 0 1rem;
}

.files-button {
    position: relative;
}

.file {
    color: var(--color-gray-100);
    padding: 0.25rem 1rem 1rem;
    border-bottom: 1px solid var(--color-black-three);
}

.file-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-active {
    background: linear-gradient(90deg, hsla(var(--color-hue), 72%, 82%, 0.05), transparent 90%);
}

.file-active .file-name {
    color: var(--color-white);
}

.file-active .file-content {
    color: var(--color-white-three);
}

.file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 12rem;
    cursor: pointer;
    color: var(--color-gray-100);
    font-weight: 600;
    font-size: 0.875rem;
    flex: 1;
}

.file-name:hover {
    text-decoration: underline;
}

.file-content {
    height: 2.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.75rem;
    cursor: pointer;
}

.file-text {
    color: var(--color-gray-100);
    margin: 1.25rem;
}


@media screen and (min-width:1024px) {
    .files-close {
        display: none;
    }
}

@media screen and (max-width:414px) {
    .files {
        width: 100%;
    }
}