.files {
    width: 24rem;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: var(--color-gray-900);
    border-right: 1px solid var(--color-gray-500);
    transition: left 0.5s;
    box-shadow: -1px 0 0px var(--color-black-two) inset;
    padding: 0 1.25rem;
    margin-left: -24rem;
    transition: margin-left 0.35s;
    overflow-y: auto;
}

.files-open {
    margin-left: 0;
}

.files-header {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1.5rem 0 1.45rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.files-open {
    left: 0;
}

.files-list {
    padding: 1rem 0;
}

.files-button {
    position: relative;
}

.files-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    top: -0.25rem;
    right: -0.125rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-primary-500);
    color: var(--color-black);
    font-size: 0.625rem;
    font-weight: 600;
    position: absolute;
    z-index: 1;
}

.file {
    color: var(--color-gray-100);
    padding: 1rem;
    border-radius: 8px;
}

.file-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-active {
    background-color: var(--color-gray-700);
}

.file-active .file-name {
    color: var(--color-primary-400);
}

.file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 12rem;
    cursor: pointer;
    color: var(--color-white);
    font-weight: 600;
    flex: 1;
}

.file-name:hover {
    text-decoration: underline;
}

.file-content {
    min-height: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    cursor: pointer;
}

.file-text {
    color: var(--color-gray-100);
}