.file-save {
    position: relative;
}

.file-save-dialog hr {
    border-top: 1px solid var(--color-gray-900);
}

.file-save-dialog {
    left: 3rem;
    top: -0.5rem;
    border-radius: 6px;
    position: absolute;
    border: 1px solid var(--color-gray-500);
    background-color: var(--color-gray-700);
    box-shadow: 0 10px 16px var(--color-black-three), 0 0 1px var(--color-black-two) inset;
}

.file-save-dialog::before {
    z-index: 1;
    top: 1rem;
    left: -9px;
    position: absolute;
    content: "";
    width: 10px;
    height: 20px;
    background-color: var(--color-gray-500);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.file-save-dialog::after {
    z-index: 2111;
    top: 17px;
    left: -7px;
    position: absolute;
    content: "";
    width: calc(10px - 2px);
    height: calc(20px - 2px);
    background-color: var(--color-gray-700);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.file-save-dialog-header {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.file-save-dialog-header .icon {
    width: 1.25rem;
    height: 1.25rem;
}


.file-name-input {
    position: relative;
    margin: 0 0 0.5rem;
}

.file-name-input-field {
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: var(--color-black-three);
    margin: 1rem 1rem 1.25rem;
    font-family: var(--font);
    caret-color: var(--color-primary-500);
}

.file-name-error {
    bottom: 0;
    left: 1.25rem;
    white-space: nowrap;
    position: absolute;
    font-size: 0.75rem;
    color: var(--color-primary-500);
}

.file-save-dialog-buttons {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}