.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-text);
  cursor: pointer;
  border-radius: 50%;
  padding: 0.625rem;
  position: relative;
}

.icon-button:hover {
  background-color: var(--color-gray-300);
}

.icon-button:hover svg>path {
  stroke: var(--color-white-two);
}

.icon-button:disabled {
  cursor: not-allowed;
}

.icon-button-small .icon {
  width: 1rem;
  height: 1rem;
}