.markdown-output-container {
  display: flex;
  flex-direction: column;
  margin: 6rem 0 0;
  border-radius: 8px;
}

.markdown-output-result {
  overflow-y: auto;
  border-radius: 8px;
}

.markdown-output-desc {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.markdown-output-desc h3,
.markdown-output-desc p {
  margin: 0;
}

.markdown-output-desc p {
  color: var(--color-gray-04);
}

.icon-markdown {
  fill: var(--color-white);
  width: 3rem !important;
  height: 3rem !important;
}