.markdown-editor {
  height: 100vh;
  margin: auto;
  display: flex;
}

.header {
  box-shadow: -1px 0px 0 var(--color-black-two) inset;
  margin: 0 0 0;
  padding: 1.25rem;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  background-color: var(--color-gray-900);
  border-right: 1px solid var(--color-gray-500);
}

.logo {
  margin: 0.5rem 0 0;
  font-weight: 600;
  font-size: 1.25rem;
}

.tabs {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.tab {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  position: relative;
  color: var(--color-gray-200);
}

.tab-active {
  color: var(--color-white);
}

.tab-active::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 3rem;
  top: -0.275rem;
  left: -1.25rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--color-primary-500);
}

.actions {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.output {
  overflow-y: auto;
  width: 100%;
  padding: 0 4rem;
}

.code-mirror {
  margin-top: 4rem;
  position: relative;
}

.code-mirror>div {
  height: 100%;
  background-color: transparent !important;
  font-family: var(--font);
  color: var(--color-white-two) !important;
}

.CodeMirror-selected {
  background-color: var(--color-gray-400) !important;
}

.CodeMirror-cursor {
  border-left: 2px solid var(--color-primary-500) !important;
}

.cm-hr {
  color: var(--color-primary-500);
}

.cm-md-strong {
  color: var(--color-gray-200) !important;
}

.cm-url {
  color: var(--color-primary-500) !important;
}

.cm-header {
  color: var(--color-white) !important;
}

.cm-header-1,
h1 {
  font-size: 4rem;
}

.cm-header-2,
h2 {
  font-size: 3rem;
}

.cm-header-3,
h3 {
  font-size: 2rem;
}

.cm-header-4,
h4 {
  font-size: 1.75rem;
}

.cm-header-5,
h5 {
  font-size: 1.5rem;
}

.cm-heading-6,
h6 {
  font-size: 1.25rem;
}

.cm-strong,
.cm-em {
  color: var(--color-white);
}

.cm-md-heading-prefix {
  color: var(--color-gray-300) !important;
}


@media screen and (max-width:800px) {
  .header {
    margin: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--color-gray-500);
  }

  .code-mirror {
    padding: 0 2rem;
  }

}