@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

:root {
  --color-hue: 42;

  --color-black: hsl(0, 0%, 0%);
  --color-black-two: hsl(0, 0%, 5%);
  --color-black-three: hsl(0, 0%, 7%);
  --color-white: hsl(0, 0%, 99%);
  --color-white-two: hsl(0, 0%, 85%);

  --color-gray-900: hsl(0, 0%, 8.25%);
  --color-gray-800: hsl(0, 0%, 9%);
  --color-gray-700: hsl(0, 0%, 10%);
  --color-gray-600: hsl(0, 0%, 12%);
  --color-gray-500: hsl(0, 0%, 15%);
  --color-gray-400: hsl(0, 0%, 17%);
  --color-gray-300: hsl(0, 0%, 20%);
  --color-gray-200: hsl(0, 0%, 30%);
  --color-gray-100: hsl(0, 0%, 50%);

  --color-primary-500: hsl(var(--color-hue), 72%, 62%);
  --color-primary-400: hsl(var(--color-hue), 72%, 72%);
  --color-primary-300: hsl(var(--color-hue), 72%, 78%);

  --font: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  color: var(--color-white);
  background:
    radial-gradient(var(--color-gray-800) 20%, transparent 10%);
  background-color: var(--color-black-three);
  background-size: 10px 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-gray-800);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-600);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-500);
}

p {
  color: var(--color-white-two);
}

hr {
  width: 100%;
  border-color: var(--color-gray-500);
  border-top: 1px solid var(--color-black-two);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

strong,
em {
  color: var(--color-white);
}