.markdown-editor {
  display: flex;
  flex-direction: column;
}

.markdown-editor-content {
  height: calc(100vh - var(--header-height));
  display: flex;
  overflow: hidden;
}

.markdown-output,
.markdown-input {
  overflow-y: auto;
  flex: 1;
  width: 50vw;
  padding: 2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.15);
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.1px 1rem;
  background-color: var(--color-primary-two);
  border-left: 5px solid var(--color-primary);
}

.markdown-output {
  padding: 0.5rem 2rem;
  background-color: var(--color-light);
  color: var(--color-dark);
}

a {
  background-color: var(--color-primary-two);
  color: var(--color-dark);
}

a:hover {
  background-color: var(--color-primary-three);
}

hr {
  opacity: 0.5;
}

textarea {
  font-family: monospace;
  caret-color: var(--color-primary);
  font-size: 1rem;
  color: var(--color-gray-three);
  background-color: var(--color-dark-two);
  resize: none;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid var(--color-gray);
  padding: 6px;
}

tr:nth-child(even) {
  background-color: var(--color-gray-two);
}

tr:hover {
  background-color: var(--color-gray-three);
}

th {
  padding: 8px;
  text-align: left;
  background-color: var(--color-dark);
  color: var(--color-light);
  border: 1px solid var(--color-dark-two);
}
